.spec_items {
    display: flex;
    flex-direction: column;
    font-weight: bold;
    margin: 0.25em;
    width: 95%;
    border-radius: 15px;
    border-color: black;
    border-style: solid;
    border-width: 3px;
    background-color: lightgrey;
    height: 100%;
}

.spec_screens {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.spec_items_info {
    height: 100%;
    border-radius: 15px;
    background-color: white;
    padding: 10px;
    margin: 5px 10px 5px 10px;
}

.spec_items_in {
    height: 100%;
    border-radius: 15px;
    background-color: white;
    padding: 10px;
    margin: 5px 10px 5px 10px;
}

.spec_items_out {
    height: 100%;
    border-radius: 15px;
    background-color: white;
    padding: 10px;
    margin: 5px 10px 5px 10px;
}

.spec_items_todo {
    height: 100%;
    border-radius: 15px;
    background-color: white;
    padding: 10px;
    margin: 5px 10px 5px 10px;
}

.spec_items_rowtop {
    display: flex;
    background-color: red;
    color: white;
    font-size: 1.2em;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    padding: 5px 0px 7px 0px;
    margin-bottom: 4px;
}

.spec_items_rowtop > div {
    display: flex;
    flex-direction: column;
    
    width: 100%;
}

.spec_items_row {
    display: flex;
    background-color: lightgrey;
    padding: 5px 0px 0px 0px;
}

.spec_items_row > div {
    line-height: 1.2;
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    width: 100%;
}

.spec_left {
    margin-right: 15px;
}

.spec_right {
    margin-left: 15px;
}

.spec_items_rowbottom {
    display: flex;
    align-items: center;
    background-color: lightgrey;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    margin-top: 5px;
    margin-bottom: 2px;
}

.spec_items_rowbottom > div {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.spec_items_rowbottom img {
    height: 25px;
    margin-top: 7px;
}

.spec_left_bottom {
    flex: 0.7;
    margin-left: 10px;
}

.spec_center_bottom {
    flex: 0.2;
}

.spec_right_bottom {
    flex: 0.7;
    margin-right: 10px;
}

.spec_items a:link {
    color: white;
    text-decoration: none;
}
  
.spec_items a:visited {
    color: white;
    text-decoration: none;
}
  
.spec_items a:hover {
    color: white;
    text-decoration: none;
}
  
.spec_items a:active {
    color: white;
    text-decoration: none;
}

.spec_button {
    width: 95%;
    margin: 0 auto;
    margin-bottom: 5px;
    padding: 5px;
    border-radius: 8px;
}
  
.spec_items_row form {
    flex-direction: column;
    width: 100%;
}

.spec_items_row textarea {
    width: 95%;
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 5px;
    border-radius: 8px;
}

.spec_items_row button {
    width: 95%;
    margin-bottom: 2px;
    padding: 5px;
    border-radius: 8px;
}

.spec_button1_false {
    font-size: 1.1em;
    font-weight: bold;
    margin: 0.4em;
    padding: 5px;
    border-radius: 12px;
    border-color: black;
    border-style:outset;
    max-width: 90%;
    background-color: lightgreen;
    text-align: center;
    opacity: 60%;
  }

.spec_button1_true {
    font-size: 1.1em;
    font-weight: bold;
    margin: 0.4em;
    padding: 5px;
    border-radius: 12px;
    border-color: black;
    border-style:outset;
    max-width: 90%;
    background-color: lightgreen;
    text-align: center;
}

.spec_button1:enabled:active {
    background-color: green;
    border-style: inset;
}

.spec_button2_false {
    font-size: 1.1em;
    font-weight: bold;
    margin: 0.4em;
    padding: 5px;
    border-radius: 12px;
    border-color: black;
    border-style: outset;
    max-width: 90%;
    background-color: indianred;
    text-align: center;
    opacity: 60%;
  }

  .spec_button2_true {
    font-size: 1.1em;
    font-weight: bold;
    margin: 0.4em;
    padding: 5px;
    border-radius: 12px;
    border-color: black;
    border-style: outset;
    max-width: 90%;
    background-color: indianred;
    text-align: center;
  }

  .spec_button2:enabled:active {
    background-color: red;
    border-style: inset;
}