.placeform {
    display: flex;
    flex-direction: column;
}

.placeform_row {
    display: flex;
}

.placeform_row > div {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.placeform input , .placeform select {
    padding: 5px;
    border: 1px solid black;
    border-radius: 5px;
    font-size: 1.2rem;
    outline: none;
}

.placeform label {
    font-size: 1rem;
    margin-top: 4px;
    margin-bottom: 4px;
}

input[type="text"],
input[type="date"],
input[type="time"] {
    width: 100%;
}

.placebutton {
    padding: 5px;
    margin: 15px 5px 0px 5px;
}

.placebutton disable {
    opacity: 50%;
}
