@import url('https://fonts.googleapis.com/css2?family=Frijole&display=swap');

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    font-family: "Frijole", serif;
    font-style: normal;
    font-size: 36px;
    text-align: center;    
    background-color: white;
    color: black;
    height: 80px;
   }

.header img {
    border-style: none;
    border-color: white;
    height: 60px;
}