@import url('https://fonts.googleapis.com/css2?family=Frijole&display=swap');

* {
    box-sizing: border-box;      
    padding: 0;       
}
  
body {
    font-size: 16px;
    height: 100dvh;
    max-width: 500px;
    margin: 0 auto;
   
}
  
.root {
    justify-items: center;
    align-items: center;
    border-radius: 2em;
    background-color: white;
}
  
 .root_container {
    display: flex;
    flex-direction: column;
    height: 100dvh;
    min-width: 100%;
    background-color: white;
}
  
.container {
    height: 100dvh;
    display: flex;
    flex-direction: column;
    background-color: white;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 100%;
    height: 100%;
    max-height: 100%;
    background-color: white;
    overflow-y: auto;
}

.login {
    height: 100dvh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    justify-content: center;
    justify-items: center;
}

.login_title {
    font-size: 30px;
    line-height: 0.8;
    margin-bottom: 20px;
    text-align: center;
    font-family: "Frijole", serif;
    font-style: normal;
}

.login_title h1 {
    margin-top: 0;
}

.login_img {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
}

.login_img img {
    width: 80%;
}

.login_txt {
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 20px;
}

.login_form {
    display: flex;
    align-items: center;
}

.login_form input {
    height: 40px;
    font-size: 20px;
    border-width: 2px;
    border-style: solid;
    border-color: black;
    border-radius: 5px;
    text-align: center;
}

.login_form label {
    margin-bottom: -12px;
    font-size: 18px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login_button {    
    display: flex;
    margin-top: 20px;
    font-size: 20px;
    font-weight: bold;
    padding: 15px;
    border-radius: 10px;
    border-width: 3px;
    margin: 0 auto;
    background-color: red;
    color: white;
}
